.*
!.gitignore

slither_my_plugin/detectors/__pycache__
slither_my_plugin/__pycache__
slither_my_plugins.egg-info
slither_venv
dev
*.pdf
*.old
*.tmp
test_contracts/**/*
!test_contracts/my_eip_vuln/
!test_contracts/my_eip_vuln/**/*